.clear-both
  :clear both

table.list
  :border-collapse collapse
  :width 100%
  :table-layout fixed
  th
    :border 1px solid #516C00
    :background #314C00
    :padding 9px
    :color white
  td
    :border 1px solid #516C00
    :padding 9px

#sign-in
  a
    :text-align center
    :margin 10px auto
    :padding 10px
    :display block
    :border 3px solid silver
    :width 200px
    &:hover
      :background silver
      :color black

#sidebar
  p.notice
    :font-size 0.8em
    :color #666
    :margin-top 10px

.entry
  form
    span.notice
      :font-size 0.8em
      :color #888
