.clear-both {
  clear: both; }

table.list {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed; }
  table.list th {
    border: 1px solid #516c00;
    background: #314c00;
    padding: 9px;
    color: white; }
  table.list td {
    border: 1px solid #516c00;
    padding: 9px; }

#sign-in a {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  display: block;
  border: 3px solid silver;
  width: 200px; }
  #sign-in a:hover {
    background: silver;
    color: black; }

#sidebar p.notice {
  font-size: 0.8em;
  color: #666666;
  margin-top: 10px; }

.entry form span.notice {
  font-size: 0.8em;
  color: #888888; }
